
TEL/.vs/TEL/v15/Server/sqlite3/storage.ide-wal
TEL/.vs/TEL/v15/Server/sqlite3/storage.ide-shm
TEL/.vs/TEL/v15/Server/sqlite3/storage.ide
TEL/.vs/TEL/v15/Server/sqlite3/db.lock
TEL/TEL_Event/Bin/TEL.Event.Lab.pdb
TEL/TEL_Event/Bin/TEL.Event.Lab.dll
TEL/TEL.Event.Lab/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TEL/TEL.Event.Lab/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TEL/TEL.Event.Lab/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.pdb
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.dll
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.csprojResolveAssemblyReference.cache
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.csproj.FileListAbsolute.txt
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.csproj.CoreCompileInputs.cache
TEL/TEL.Event.Lab/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TEL/TEL.Event.Lab/bin/Debug/TEL.Event.Lab.pdb
TEL/TEL.Event.Lab/bin/Debug/TEL.Event.Lab.dll
TEL/.vs/TEL/v15/.suo
TEL/.vs/config/applicationhost.config
TEL/TEL.Event.Lab/bin/Debug/TEL.Event.Lab.dll
TEL/TEL.Event.Lab/bin/Debug/TEL.Event.Lab.pdb
TEL/TEL.Event.Lab/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TEL/TEL_Event/Bin/TEL.Event.Lab.pdb
TEL/TEL_Event/Bin/TEL.Event.Lab.dll
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.pdb
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.dll
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.csproj.FileListAbsolute.txt
TEL/TEL.Event.Lab/obj/Debug/TEL.Event.Lab.csproj.CoreCompileInputs.cache
*.cache
TEL/packages/*
TEL/TEL.Event.Lab/bin/Debug/*
TEL/TEL_Event/Event/EventThumbnail/*
TEL/TEL_Event/Bin/TEL.Event.Lab.dll
TEL/TEL_Event/Bin/TEL.Event.Lab.pdb
