.PageTitle {
    color: #19b1e5;
    font-size: 24px;
    font-weight: bold;
    font-family: Microsoft YaHei, Georgia
}

.Normal {
    font-size: 14px;
    padding-top: 1px;
    font-family: Microsoft JhengHei, Georgia;
}

.NormalBold {
    font-weight: bold;
    font-size: 14px;
    padding-top: 1px;
    font-family: Microsoft JhengHei, Georgia;
    color: #595959;
}

.ShowCategory {
    font-weight: bold;
    font-size: 14px;
    padding-top: 1px;
    font-family: Microsoft JhengHei, Georgia;
    color: black;
}

.LargeBold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    font-family: Microsoft JhengHei, Georgia;
}

.Button {
    background-color: #E7E6E6;
    width: 80px;
    height: 25px;
    border-radius: 6px;
    border-width: 0px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    font-family: Microsoft JhengHei, Georgia;
    box-shadow: 0px 1.2px 0.5px 0.5px rgba(0,0,0,0.3),-0.2px 0px 0.2px 0.5px rgba(0,0,0,0.3) inset;
}

    .Button:hover {
        background-color: #E5D3EC;
        width: 80px;
        height: 25px;
        border-radius: 6px;
        border-width: 0px;
        color: #000000;
        font-weight: bold;
        font-size: 14px;
        font-family: Microsoft JhengHei, Georgia;
        box-shadow: 0px 1.2px 0.5px 0.5px rgba(0,0,0,0.3),-0.2px 0px 0.2px 0.5px rgba(0,0,0,0.3) inset;
    }

.Button_Gridview {
    background-color: #ffffff;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    border-width: 0px;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    font-family: Microsoft JhengHei, Georgia;
    box-shadow: 0px 1.0px 0.5px 0.5px rgba(0,0,0,0.3),-0.2px 0px 0.2px 0.5px rgba(0,0,0,0.3) inset;
}

    .Button_Gridview:hover {
        background-color: #E5D3EC;
        width: 60px;
        height: 20px;
        border-radius: 5px;
        border-width: 0px;
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        font-family: Microsoft JhengHei, Georgia;
        box-shadow: 0px 1.0px 0.5px 0.5px rgba(0,0,0,0.3),-0.2px 0px 0.2px 0.5px rgba(0,0,0,0.3) inset;
    }

.QueryField {
    background: #E7E6E6;
    border-width: 0px;
    Height: 25px;
    font-size: 14px;
    padding-top: 1px;
    font-family: Microsoft JhengHei, Georgia;
}

.FillField {
    Height: 25px;
    font-size: 14px;
    padding-top: 1px;
    font-family: Microsoft JhengHei, Georgia;
}
