table td {
    padding: 0px;
}

.NormalBoldNoColor {
    font-weight: bold;
    font-size: 14px;
    padding-top: 1px;
    font-family: Microsoft JhengHei, Georgia;
}

.tableContent {
    border: 1px solid #E0E0E0;
    margin: 10px 6px;
    border-radius: 20px !important;
    border-spacing: 0px;
}

.tableInfoContent {
    width: 100%;
}

.tableInfoContentTd {
    padding: 15px;
}

.ListImg {
    width: 360px;
    height: 240px;
    border-radius: 20px 20px 0 0;
}

.tableInfoContentFontSize-Icon-large {
    font-size: 20px;
    padding-right:10px
}
.tableInfoContentFontSize-large {
    font-size:20px;
}

.tableInfoContentFontSize-medium {
    font-size: 16px;
    color: #595959;
}


.tableInfoContentFontSize-small {
    font-size: 12px;
    color: #7B7B7B;
    vertical-align: text-bottom;
}

.controlCommon {
    font-family: Microsoft JhengHei, Georgia;
    font-weight: bold;
}


